# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = vnexpress_data_warehouse

[deploy]
project = vnexpress_data_warehouse
